/src/ipa_sign/lc_dev.mobileprovision
/src/ipa_sign/lichang-4.1.2-08161616.ipa
/src/sample/lc_dev.mobileprovision
/src/sample/lichang-4.1.2-08161616.ipa
/src/sample/Payload
/src/sample/*.ipa
/src/study/